<form class="login-form" action="<%= session_url %>" method="post">
  <h1>Log In</h1>
  <%= auth_token %>
  <label for="email">
    Email
  </label>
    <input type="text" name="email" id="email" >
  <label for="password">
    Password
  </label>
    <input type="password" name="password" id="password">
  <button>Submit</button>
</form>
