<form class="login-form" action="<%= session_url %>" method="post">
  <h1>Sign In</h1>
  <%= auth_token %>
  <label for="email">
    Email
  </label>
    <input type="text" name="email" id="email" >
  <label for="password">
    Password
  </label>
    <input type="password" name="password" id="password">
    <div class="errors">
      <% if flash.now[:errors] %>
      <%= flash.now[:errors].join(", ") %>
      <% end %>
    </div>
  <button>Submit</button>
  <p>Don't have an account?  <a href="<%= new_user_url %>">Sign Up!</a></p>
</form>
