<form action="<%= users_url %>" method="post">
  <%= auth_token %>
  <label>
    Email
    <input type="text" name="user[email]">
  </label>
  <label>
    Password
    <input type="text" name="user[password]">
  </label>
  <button>Submit</button>
</form>
