<form class="login-form" action="<%= users_url %>" method="post">
  <h1>Sign Up</h1>
  <%= auth_token %>
  <label>
    Email
    <input type="text" name="user[email]">
  </label>
  <label>
    Password
    <input type="text" name="user[password]">
  </label>
  <button>Submit</button>
  <p>Already have an account?  <a href="<%= new_session_url %>">Sign In!</a></p>
</form>
