/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1, div, ul, li, a, p, form, h1, h2, h3 {
  margin: 0;
  padding: 0;
  background: inherit;
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.app-header {
  width: 100%;
  height: 40px;
  background: #026aa7;
  position: relative;
  z-index: 150;
}

.app-header a, .reveal-user-menu {
  padding: 6px;
  border-radius: 5px;
  background-color: rgba(255,255,255,.2);
  font-weight: bold;
  color: white;
}

.app-header a:hover, .reveal-user-menu:hover {
  background-color: rgba(255,255,255,.5)
}

.app-header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


main {
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}

.boards-index {
  margin: 0 20px;
}

.boards-index h3, .board-show h3 {
  margin-top: 20px;
}

.boards-index li:first-child, .board-show li:first-child {
  margin-left: 0;
}

.board {
  background: #0079BF;
}

.boards-index li {
  float: left;
  color: white;
  font-weight: bold;
  margin: 10px;
  border-radius: 3px;
  width: 23%;
  height: 96px;
  overflow: hidden;
  cursor: pointer;
}

.board-list-item:last-child {
  overflow: visible;
}

.open-board-form, .open-list-form {
  min-height: 96px;
  margin-left: 10px;
  border: 0;
  background: #e2e4e6;
  font-size: 14px;
  font-weight: normal;
  color: #8c8c8c;
}

.open-board-form {
  width: 100%;
  margin: 0;
}

.open-board-form:hover {
  background-color: #d6dadc;
}

.new-board-form, .new-list-form {
  min-height: 95px;
  background: white;
  border: 1px solid #eee;
  float: left;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
}

.new-board-form .close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.close:hover {
  color: #4d4d4d;
}

.new-board-form h1 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  color: #8c8c8c;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(214, 218, 220);
  margin-bottom: 10px;
}

.new-board-form label {
  font-weight: bold;
  font-size: 14px;
}

.new-board-form input, .new-list-form input {
  width: calc(100% - 20px);
  margin: auto;
  font-size: 14px;
  height: 26px;
  padding: 4px;
  background-color: #e2e4e6;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #aaa;
}

.new-board-form input:focus, .new-list-form input:focus {
  background: white;
}

.new-board-form button {
  margin-top: 10px;
}

 .new-list-form button {
   margin-top: 10px;
   float: left;
 }

  .new-list-form .close {
    background: transparent;
    border: 0;
    margin-left: 5px;
    font-size: 20px;
  }

.board:hover {
  background-color: rgba(0, 121, 191, .5)
}

.board a, .list a {
  display: block;
  width: 100%;
  min-height: 100%;
  padding: 10px;
}

.add, .new-board-form button, .green-button {
  height: 34px;
  background: linear-gradient(to bottom,#61bd4f 0,#5aac44 100%);
  box-shadow: 0 1px 0 #3f6f21;
  color: #fff;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
}


@media (max-width: 966px) {
  .boards-list {
    width: 650px;
  }

  .board-list-item:nth-child(3n + 1) {
    margin-left: 0;
  }

  .boards-list li {
    width: 30%;
  }

}

@media (max-width: 622px) {

  .boards-list {
    width: 100%;
  }

  .boards-list li {
    width: 100%;
    float: none;
    margin: 20px 0;
  }

}

.new-board-form {
  width: 300px;
  position: absolute;
}
