.card-title {
  font-size: 18px;
}

.modal-contents {
  font-size: 14px;
}

.modal-contents header {
  margin-bottom: 20px;
}

.modal-contents textarea {
  width: 508px;
  height: 108px;
  resize: none;
  font-size: 14px;
  margin: 4px 0;
  border-radius: 5px;
  border-color: rgba(0,0,0,.15);
  box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
}

.modal-contents main {
  width: 515px;
  float: left;
}

.modal-contents .green-button {
  margin-right: 5px;
}

.edit-link {
  text-decoration: underline;
  cursor: pointer;
}

.quiet {
  color: #8c8c8c
}

.description p {
  margin-top: 10px;
}

.modal-contents h3 {
  font-size: 16px;
  margin-top: 20px;
}

.gray-button {
  height: 34px;
  background: #e2e4e6;
  color: #8c8c8c;;
  border: 0;
  border-radius: 3px;
  font-size: 15px;
  padding: 7px 20px;
}
